.reccomend__content {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
    gap: 50px;
}

@media screen and (max-width: 1024px) {
    .reccomend__content {
        width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .reccomend__content {
        width: 100%;
        gap: 20px;
        padding: 20px 0;
    }
}