.form__button {
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: none;
    padding: 8px 0;
    color: black;
}

.form__button:disabled {
    background-color: rgb(153, 153, 153);
}