.button {
    font-size: 30px;
    padding: 5px 18px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    width: max-content;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .button {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .button {
        font-size: 16px;
    }
}