.about__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 32px;
}

@media screen and (max-width: 768px) {
    .about__right {
        align-items: center;
        padding: 0 16px;
    }
}