.book__content {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px 0;
}

@media screen and (max-width: 1024px) {
    .book__content {
        width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .book__content {
        width: 100%;
        padding: 20px 0 0 0;
        gap: 20px;
    }
}