.price {
    background-image: url(../../images/price_background.png);
    height: 720px;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .price {
        background-position: center;
        height: 520px;
    }
}