.spots__country {
    font-size: 35px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .spots__country {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .spots__country {
        font-size: 24px;
    }
}