.header__nav {
    width: 976px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
}

@media screen and (max-width: 1024px) {
    .header__nav {
        width: 768px;
    }
}