.portfolio__content {
    display: flex;
    flex-direction: column;
    width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
    overflow-x: hidden;
}

@media screen and (max-width: 1024px) {
    .portfolio__content {
        width: 768px;
    }
}