.carousel {
    display: flex;
    flex-direction: column;
    width: 1024px;
}

@media screen and (max-width: 1024px) {
    .carousel {
        width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .carousel {
        width: 320px;
    }
}