.header__languages {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    margin: 0;
    padding-right: 24px;
}

@media screen and (max-width: 768px) {
    .header__languages {
        justify-content: center;
    }
}

