.about__img {
    height: auto;
    width: 420px;
}

@media screen and (max-width: 1024px) {
    .about__img {
        width: 360px;
    }
}

@media screen and (max-width: 768px) {
    .about__img {
        width: 100%;
    }
}