.desc {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

@media screen and (max-width: 768px) {
    .desc {
        gap: 20px;
        width: calc(100% - 32px);
        margin: 0 auto;
    }
}