.start__location {
    font-size: 40px;
    font-weight: 300;
}

@media screen and (max-width: 1024px) {
    .start__location {
        font-size: 32px;
        padding-left: 16px;
    }
}

@media screen and (max-width: 768px) {
    .start__location {
        font-size: 20px;
    }
}