.start__list {
    list-style: none;
    color: white;
    padding: 0;
    margin: 0;
    padding-top: 32px;
}

@media screen and (max-width: 1024px) {
    .start__list {
        padding-top: 24px;
    }
}

@media screen and (max-width: 768px) {
    .start__list {
        padding-top: 20px;
    }
}